@import url("fonts.css");
body {
    background-color: #2B2B2B;
    color: white;
    font-family: 'Open Sans 300';
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    padding-bottom: 100px;
}


/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
}

h1 {
    font-size: 3.5em;
    letter-spacing: 0px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    width: 40%;
    font-size: 23px;
    margin: 0 auto;
    text-align: center;
    font-weight: normal;
    color: gray;
}

h3 {
    width: 100%;
    text-align: center;
    margin: 10px 0 20px;
}

h3 span {
    background: #fff;
    padding: 0 10px;
}

.jumbotron {
    padding: 30px;
    text-align: center;
}

.container-proj {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.jumbotron .container {
    max-width: 100%;
}

.jumbotron h1 {
    text-align: center;
    /* centers the heading */
    color: #DDD;
    font-weight: 600;
    text-transform: uppercase;
}

.jumbotron ul {
    text-align: center;
    list-style-type: none;
}