    /* index */
    
    .grid-container {
        margin: 50px 70px 0px 70px;
        display: grid;
        grid-column-gap: 150px;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }
    
    .grid-item {
        color: white;
        /* background-color: gray; */
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
    
    .grid-item:hover {
        /* background-color: gray; */
        border: 1px solid white;
        box-shadow: 0 3px 20px rgba(255, 255, 255, 0.7);
    }
    
    .grid-item a {
        text-decoration: none;
    }
    /* common for all projects */
    
    .project {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 83vh;
        font-family: 'Lato', sans-serif;
        margin: 0;
    }
    /* Seat Booking */
    
    .project .container {
        perspective: 1000px;
        margin-bottom: 30px;
    }
    
    .seat-booking select {
        background-color: #fff;
        border: 0;
        border-radius: 5px;
        font-size: 14px;
        margin-left: 10px;
        padding: 5px 15px 5px 15px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }
    
    .screen {
        background-color: #fff;
        height: 70px;
        width: 100%;
        margin: 15px 0;
        transform: rotateX(-45deg);
        box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
    }
    
    .seat {
        background-color: #444451;
        height: 12px;
        width: 15px;
        margin: 3px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .seat:nth-of-type(2) {
        margin-right: 18px;
    }
    
    .seat.selected {
        background-color: #6feaf6;
    }
    
    .seat.occupied {
        background-color: #fff;
    }
    
    .seat:nth-of-type(2) {
        margin-right: 18px;
    }
    
    .seat:nth-last-of-type(2) {
        margin-left: 18px;
    }
    
    .seat:not(.occupied):hover {
        cursor: pointer;
        transform: scale(1.2);
    }
    
    .seat-legend {
        margin: 25px 0;
        background: rgba(0, 0, 0, 0.1);
        padding: 5px 10px;
        border-radius: 5px;
        color: #777;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }
    
    .seat-legend .seat:not(.occupied):hover {
        cursor: default;
        transform: scale(1);
    }
    
    .seat-legend li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }
    
    .seat-legend li small {
        margin-left: 2px;
    }
    
    .row {
        display: flex;
    }
    
    p.text {
        margin: 5px 0;
    }
    
    p.text span {
        color: #6feaf6;
    }
    /* ToDo List */
    
    .project-todos {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 70px 0;
        text-align: center;
        min-height: 100%;
    }
    
    .form {
        font-family: 'Open Sans Regular';
        outline: none;
        background-color: #2B2B2B;
        border: 2px solid lightseagreen;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 15px;
    }
    
    .form.button {
        text-align: center;
        transition-duration: 0.8s;
        cursor: pointer;
        border-radius: 15px;
    }
    
    .form.button:hover {
        background-color: lightseagreen;
        color: black;
    }
    
    .form.todo-item {
        width: 550px;
        border: none;
        display: inline-block;
        border-radius: 0px;
        border-bottom: 1px solid lightseagreen;
        margin-top: 20px;
        height: 5px;
    }
    
    .form.todo-item.crossed-out {
        text-decoration: line-through;
        text-decoration-thickness: 2px;
    }
    
    .form.todo-checkbox {
        -webkit-appearance: none;
        background-color: #2B2B2B;
        border: 2px solid lightseagreen;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 9px;
        border-radius: 3px;
        display: inline-block;
        position: relative;
    }
    
    .form.todo-checkbox:active,
    .form.todo-checkbox:checked:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    }
    
    .form.todo-checkbox:checked {
        background-color: lightseagreen;
        border: 2px solid lightseagreen;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
        color: black;
    }
    
    .form.todo-checkbox:checked:after {
        content: '\2714';
        font-size: 14px;
        position: absolute;
        top: 0px;
        left: 3px;
        color: lig;
    }
    
    #todos {
        padding: 20px;
        padding-bottom: 50px;
    }
    /* Infinite Scrolling */
    
    .jumbotron {
        padding: 30px;
        text-align: center;
    }
    
    .container-proj {
        width: 1170px;
        margin: 0 auto;
        padding: 0 15px;
    }
    
    .jumbotron .container {
        max-width: 100%;
    }
    
    .jumbotron h1 {
        text-align: center;
        /* centers the heading */
        color: #DDD;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .posts p {
        margin: 5px;
    }
    
    .post {
        position: relative;
        background-color: grey;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        padding: 20px;
        display: flex;
        margin: 40px auto;
        width: 80vw;
        max-width: 800px;
    }
    
    .post .post-title {
        margin: 0;
    }
    
    .post .post-body {
        margin: 15px 0 0;
        line-height: 1.3;
    }
    
    .post .post-info {
        margin-left: 20px;
    }
    
    .post .number {
        position: absolute;
        top: -15px;
        left: -15px;
        font-size: 15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: lightseagreen;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px 10px;
    }
    
    .loader {
        opacity: 0;
        display: flex;
        position: fixed;
        bottom: 50px;
        margin: 50px 550px;
        transition: opacity 0.3s ease-in;
    }
    
    .loader.show {
        opacity: 1;
    }
    
    .circle {
        background-color: #fff;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 5px;
        animation: bounce 0.5s ease-in infinite;
    }
    
    .circle:nth-of-type(2) {
        animation-delay: 0.1s;
    }
    
    .circle:nth-of-type(3) {
        animation-delay: 0.2s;
    }
    
    @keyframes bounce {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }